{{!-- button with submit user input --}}

<h1> Eat the Burgers!</h1>

<h2> Burgers available to eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burgersbuttons devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers available to throw up!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burgersbuttons devoured=false}}
    {{/unless}}
    {{/each}}
</ul>