{{!-- button with submit user input --}}

<h1> Eat the Burgers!</h1>

<h2> Burgers that are available to eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burgersbuttons devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are available to throw up!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burgersbuttons devoured=false}}
    {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    <div class="form-group">
        <label for="devoured">Has the burger already been eaten?</label><br>
        <input type="radio" name="devoured" value="0" checked> Ready to Devour!<br>
        <input type="radio" name="devoured" value="1"> Ready to throw up!
    </div>

    <button type="submit">Add Burger</button>
</form>